<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Instagram's Trending Pictures</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/instagram.ico">
  </head>
  <body>
  </body>
</html>
